<!doctype html>
<html>
<head><meta charset="utf-8"><title>FreshFish Admin</title></head>
<body>
<h1>Admin Dashboard</h1>
<h2>Customers</h2>
<table border=1>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Primary loc</th>
    <th>Credit</th>
</tr>

{% for c in customers %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.phone}}</td>
    <td>{{c.primary_location}}</td>
    <td>{{c.credit_score}}</td>
</tr>

{% endfor %}
</table>

<h2>Orders</h2>
<table border=1>
<tr>
    <th>ID</th>
    <th>Cust</th>
    <th>Fish</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Status</th>
    <th>Driver</th>
    <th>QR</th>
</tr>

{% for o in orders %}
<tr>
    <td>{{o.id}}</td>
    <td>{{o.customer_id}}</td>
    <td>{{o.fish_type}}</td>
    <td>{{o.quantity}}</td>
    <td>{{o.price}}</td>
    <td>{{o.status}}</td>
    <td>{{o.driver}}</td>

    <td>{% if o.qr_path %}<img src="/static/{{o.qr_path}}" width="80">{% endif %}</td>
    <td>
        <form method="POST" action="/assign_driver/{{ o.id }}">
            <select name="driver_id">
                {% for d in drivers %}
                   {% if d.status == "Available" %}
                     <option value="{{ d.id }}">{{ d.name }} ({{ d.phone }})</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Assign</button>
        </form>
    </td>


</tr>
{% endfor %}
</table>
</body>
</html>
