<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <br>
        <input type="password" id="password" name="password" placeholder="password" required>
        <button type="button" onclick="togglePassword()">Show</button><br>
        <br>
        <button type="submit">Login</button>
        

    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p style="color:red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <script>
function togglePassword() {
    const passwordField = document.getElementById("password");
    const btn = event.target;

    if (passwordField.type === "password") {
        passwordField.type = "text";
        btn.textContent = "Hide";
    } else {
        passwordField.type = "password";
        btn.textContent = "Show";
    }
}
</script>

</body>
</html>
